@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.comment_container {
  border: 4px solid #cfcfcf;
  width: 85%;
  height: fit-content;
  margin: 0;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
}

.comment_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.comment_inner_container {
  padding: 8px 10px 8px 10px;
}

.comment_header_text {
  margin: 0;
  font-weight: 500;
  color: #000000;
  font-family: "Inter";
}

.comment_content {
  width: 100%;
  padding-top: 0.3rem;
  font-family: "Inter";
  text-align: left;
  margin: 0;
}

.comment_footer {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: flex-end;
}
.comment_vote_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #b6b6b6;
  height: fit-content;
  width: fit-content;
  margin-top: 0.7rem;
}

.comment_vote_inner_container {
  padding: 5px 7px 5px 7px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment_vote_text {
  font-weight: 600;
  margin: 0;
  color: #474747;
  font-family: "Inter";
  font-size: 0.85rem;
}

.normalthumbsup {
  color: white;
  height: 1.1rem;
  width: 1.1rem;
  margin-left: 0.3rem;
}

.normalthumbsdown {
  color: white;
  height: 1.1rem;
  width: 1.1rem;
  margin-left: 0.3rem;
}

.normalthumbsup:hover {
  color: #5d5d5d;
  cursor: pointer;
}

.normalthumbsdown:hover {
  color: #5d5d5d;
  cursor: pointer;
}
