@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_header {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #003b71;
  font-size: 1.8rem;
  font-family: "Averia Serif Libre", Arial;
}

.container {
  width: 30rem;
  background-color: white;
  overflow: hidden;
}

.other_note_divider {
  width: 85%;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  border-bottom: 5px solid #adadad;
}

.add_note_button {
  background-color: #75bdff;
  color: #003b71;
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.85rem;
  border: none;
  padding: 5px 7px 5px 7px;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add_note_button:hover {
  background-color: #8ec8ff;
  cursor: pointer;
}

.render_more_button {
  margin-top: -0.5rem;
  margin-bottom: 0.3rem;
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.85rem;
}

.render_more_button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.write_note_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write_note_textarea {
  width: 85%;
  height: 7rem;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  resize: none;
}

.submit_note_button {
  background-color: #75bdff;
  color: #003b71;
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.85rem;
  border: none;
  padding: 5px 7px 5px 7px;
  border-radius: 20px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.submit_note_button:hover {
  background-color: #8ec8ff;
  cursor: pointer;
}

.signin_button {
  background-color: #75bdff;
  color: #003b71;
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.85rem;
  border: none;
  padding: 5px 7px 5px 7px;
  border-radius: 20px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.signin_button:hover {
  background-color: #8ec8ff;
  cursor: pointer;
}
